@import url('https://fonts.googleapis.com/css?family=Orbitron');
body {
    margin: 0px;
    background-color: #121212;
}

#slides {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
    position: absolute;
    z-index: -1;
}

.svg-loader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    height: 100%;
}

/* body {
    background-color: #121212;
} */

#clock {
    font-family: Orbitron, sans-serif;
    font-size: 56px;
    /* background-color: rgba(178, 171, 161, 0.43); */
    z-index: 1;
    text-align: center;
    position: fixed;
    border-radius: -1px;
    bottom: 100px;
    right: 100px;
    opacity: 100;
    border: 1px solid yellow;
    border-radius: 10px;
    background-color: #33333373;
    padding: 20px;
}
